<!-- empty wishlist -->
<div *ngIf="allProducts.length==0" class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <img src="https://thumbs.gfycat.com/CompleteShallowFlyingsquirrel-size_restricted.gif" alt="wishlist gif">
            <h3 class="text-danger mt-3">Your wishlist is empty</h3>
            <a class="btn btn-success" routerLink="">Add More</a>
        </div>
    </div>
</div>

<!-- wishlist -->
<!-- Section-->
<section class="py-5">
    <div *ngIf="allProducts.length!=0" class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let Product of allProducts">
                <div class="card h-100 p-4 ">
                    <!-- Product image-->
                    <img height="200px" class="card-img-top" [src]="Product.image" [alt]="Product.title" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{Product.title.slice(0,17)}}...</h5>
                            <!-- Product price-->
                            ${{Product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-evenly">

                            <button (click)="removeItem(Product.id)" class="btn btn-danger mt-auto" >
                            <i class="fa-solid fa-heart-circle-xmark text-light"></i></button>
                            <!-- add to cart -->
                            <button (click)="addtocart(Product)" class="btn btn-success">
                                <i class="fa-solid fa-cart-plus text-light"></i>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>